// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-primary{
  background-color: #de5d5d;
  border-color: #de5d5d;
}
.btn-primary:hover{
  background-color: #e41818;
  border-color: #e41818;
}
