// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
   a {
       color: #de5d5d;
      }
   a:hover{
       color: #e41818;
      }
    }
.btn-group .btn-primary, .simple_form .btn-primary{
  background-color: #de5d5d;
  border-color: #de5d5d;
}
.btn-group .btn-primary:hover, .simple_form .btn-primary:hover{
  background-color: #e41818;
  border-color: #e41818;
}
